<ul id="messages"></ul>
<form action="">
    <input type="text" id="m" autocomplete="off" />
    <button type="button" onclick="btnClick()">Send</button>
    <div style="color: white;">
        {{message}}
    </div>
    <div style="color: whitesmoke;">
        
    </div>
</form>
<script src="https://cdn.bootcss.com/socket.io/2.3.0/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    var messageList = []
    socket.on('connect', function(){
        // tip: you can avoid listening on `connect` and listen 
        // on events directly too!
        console.log('client connect emit')
    });

    function btnClick(){
        var item = {
            side: 'myself',
            message: $('#m').val()
        }
        messageList.push(item);
        socket.send(item);

        $('#m').val('')
    }
</script>